<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Comment</title>
    <link rel="stylesheet" href="/css/addcomment.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>

    <%- include('partials/navbar') %>
    <div class="container">
      <h1>Add Comment</h1>
      <form action="/project/<%= project.id %>/comment/addcomment" method="POST">
        <div class="input-group">
          <label for="date">Date:</label>
          <input 
            type="date" 
            id="date" 
            name="date" 
            value="<%= new Date().toISOString().substring(0,10) %>" 
            min="<%= new Date().toISOString().substring(0,10) %>" 
            max="<%= new Date().toISOString().substring(0,10) %>" 
            required
          >
        </div>
        <div class="input-group">
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" placeholder="Enter your comment(min 10 words)" required></textarea>
        </div>
        <button type="submit">Submit Comment</button>
      </form>
    </div>
    <footer class="footer">
      <p>&copy; 2024 Construction Management. All rights reserved.</p>
    </footer>
    <script src="/js/navbar.js"></script>
  </body>
</html>
