<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing System</title>
    <link rel="stylesheet" href="/css/billing.css">
    <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container">
        <h1>Displaying bill for : <%- project.title %></h1>

        <div class="button-group">
             <% if(user && ["engineer","contractor","admin"].includes(user.role)) { %>
            <a href="/project/<%- project.id %>/bill/addbill" class="button">Add Bill</a>
            <% } %>
        </div>

        <div id="lastUpdated">
            Last Updated: <span id="dateUpdated">No updates yet</span>
        </div>

        <div id="runningBill">
            <h3>Current Bills:</h3>

            <% if (project.bills.length > 0) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Bill Name</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% project.bills.forEach((bill, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= bill.Bill_Name %></td>
                                <td><%= new Date(bill.date).toLocaleDateString('en-US') %></td>
                                <td>
                                    <a href="/project/<%= project._id %>/bill/<%= bill._id %>" class="btn view-link">View Bill</a>
                                    <% if(["contractor","admin","senior-manager","manager"].includes(user.role)) { %>
                                        <a href="/project/<%= project._id %>/bill/<%= bill._id %>/edit" class="btn edit-link">Edit Bill</a>
                                    <% } %>
                                </td>                                
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } else { %>
                <p>No bills available yet.</p>
            <% } %>
        </div>
            <a href="/project/<%= project.id %>" class="button">Back to Project</a>

    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>© 2024 Project Management. All rights reserved.</p>
    </footer>
    <script src="/js/navbar.js"></script>
</body>
</html>
